node_modules
dist

.kiro/*
.trae/*
.cursor/*
.vscode/*
.specstory/*

/tests
/test-results

.env
.env.development.example
.env.production.example

server/db/database.sqlite

deno.lock
./vscode/settings.json